<%= form_for @location do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :corporate %><br />
    <%= f.check_box :corporate %>
  </p>
  <p><%= f.submit %></p>
<% end %>
