<% title "Locations" %>

<table>
  <tr>
    <th>Customer</th>
    <th>Name</th>
    <th>Corporate</th>
  </tr>
  <% for location in @locations %>
    <tr>
      <td><%= location.customer_id %></td>
      <td><%= location.name %></td>
      <td><%= location.corporate %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path %></p>
